@charset "UTF-8";
* {
	box-sizing:border-box;
	margin-top: 0px;
}
body, html {
	width:100%;
	height:100%;
}

.magnify {
	z-index: 20;
	position: relative;
	width:100%;
  	height:100%;
	margin:0px auto;
	overflow: hidden;
}

.magnify img {
	display:block;
}

.element_to_magnify {
	position: relative;
	width:100%;
  	height:100%;
  	overflow: hidden;
}
.element_to_magnify a {
  display:block;
  position:absolute;
  top:80px;
  right:80px;
  background-color:rgba(200, 200, 200, .25);
  padding:4px;
  font-size:18px;
  color:#fff;
}
.element_to_magnify img{
	width: 100%;
	height: auto;
	position: absolute;
}

.magnify_glass {
    z-index: 300;
    position: absolute;
    border: 20px solid #404040;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #0d0d0d;
    width: 60vh;
    height: 60vh;
    top: 10vh;
    left: calc(50% - 30vh);
    overflow: hidden;
}

.lens {
    z-index: 300;
    position: absolute;
    background-color: whitesmoke;
    opacity: 1;
    border-radius: 40%;
    border: 2px solid #595959;
    width: 26vh;
    height: 26vh;
    bottom: -10vh;
    left: calc(50% - 13vh);
    overflow: hidden;
    text-align: center;
}

.lens.left {
    left: calc(50% - 52vh);
}

.lens.right {
    left: calc(50% + 26vh);
}

.selected_len {
	border: 4px solid #403f40;
}

.showSamples {
  z-index: 300;
  position: absolute;
  top: 3%;
  right: calc(0.2% + 1vh);
}
